header {
	background-color: #F15B31;
	padding: 30px 20px;
	color: #FFFFFF;
}

nav {
	background-color: #00A6B3;
	padding: 20px 0;
	border-bottom: 2px solid white;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

body {
	text-align: center;
	margin: 0;
}

a {
	text-decoration: none;
	font-size: 18px;
	color: #FFFFFF;
	margin: 0 20px;
}

h1, a {
	text-transform: uppercase;
}

h2 {
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	color: #0d2c40;
	font-size: 20px;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px 0;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

a:hover {
	border-bottom: 2px solid white;
}

#score {
	float: right;
	font-size: 36px;
	line-height: 40px;
	margin: auto 50px;
}

#reset {
	float: left;
	margin: auto 50px;
	width: 175px;
	height: 40px;
	line-height: 40px;
	background: #00cada;
	color: #ffffff;
	font-size: 24px;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}